<html>
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container-fluid">

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-body">
                    <nav class="navbar navbar-default">
                        <div class="navbar-header">
                            <h2>TO DO APPLICATION</h2>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2" style="background-color:lavender;"></div>
        <div class="col-sm-4">
            <div class="container-fluid">
                <div class="row">
                    <div class="panel panel-default">
                        <div class="panel-heading"><h2>LOGIN</h2></div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label>TEAM NAME</label> <input type="teamName" class="form-control"
                                                                placeholder="TeamName">
                            </div>
                            <div>
                                <label>USERS</label><input type="Users" class="form-control"
                                                           placeholder="Users">
                            </div>
                            <button type="submit" class="btn btn-default">Login</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="container-fluid">
                <div class="row">
                    <div class="panel panel-default">
                        <div class="panel-heading"><h2>SIGN Up</h2></div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label>USERNAME</label> <input type="username" class="form-control"
                                                               placeholder="UserName">
                            </div>
                            <div>
                                <label>PASSWORD</label><input type="password" class="form-control"
                                                              placeholder="Password">
                            </div>
                            <div>
                                <label>CONFIRM PASSWORD</label><input type="confirmPassword" class="form-control"
                                                                      placeholder="Confirm Password">
                            </div>
                            <button type="submit" class="btn btn-default">Sign up</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2" style="background-color:lavender;"></div>
    </div>
</div>
</body>
</html>